 /* Minimal layout styling */
 body {
     font-family: sans-serif;
     margin: 0;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 main {
     display: flex;
     flex: 1;
 }

 /* Section 1: Filters (Left) */
 .filter-panel {
     width: 10%;
     padding: 1em;
     border-right: 1px solid #ddd;
 }

 #filter-form>div {
     display: flex;
     flex-direction: column;
 }

 #apply-filters {
     margin: 1em 0;
 }

 /* Section 2: Product Gallery (Center) */
 .gallery-container {
     flex: 1;
     padding: 20px;
 }

 .product-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     gap: 20px;
     margin-bottom: 20px;
 }

 .product-card {
     border: 1px solid #ccc;
     padding: 1em;
     text-align: center;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     cursor: pointer;
 }

 /* Hover State */
 .product-card:hover {
     /* Lifts the card up slightly */
     transform: translateY(-8px);

     /* Adds a soft, deep shadow */
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
 }

 #favorites-list li {
     border: 1px solid #ccc;
     padding: 1em;
     display: flex;
     flex-direction: row;
     align-items: center ;
 }

 .like-fill {
    display: inline;
     font-size: 1.5em;
     margin: 0 0.5em 0 0;
     background: linear-gradient(to top, #ff2e63 50%, #ccc 50%);
     background-size: 100% 200%;
     background-position: top;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: background-position 0.4s ease;
 }
 .like-fill:hover {
    background-position: bottom;
    cursor: pointer;
 }
 .like-fill.favorite {
    background-position: bottom;
 }

 .like-fill.favorite:hover {
    background-position: top;
    cursor: pointer;
 }


 a {
     text-decoration: none;
     /* Removes the underline */
     color: #000000;
     /* Sets the link color (e.g., black) */
 }

 a:link,
 a:visited,
 a:hover,
 a:active {
     text-decoration: none;
     color: #000000;
     /* Sets the link color for all states */
 }

 /* Section 3: Favorites (Right) */
 .favorites-sidebar {
     width: 20%;
     padding: 20px;
     border-left: 1px solid #ddd;
 }


 /* UI Elements */
 .pagination {
     display: flex;
     justify-content: center;
     gap: 10px;
     margin: 20px 0;
 }

 .hidden {
     display: none;
 }